[submodule "vnt-micropython"]
	path = vnt-micropython
	url = git@github.com:tsenso/vnt-micropython.git
[submodule "vnt-esp-idf"]
	path = vnt-esp-idf
	url = git@github.com:tsenso/vnt-esp-idf.git
[submodule "vnt-ili9342c-mpy"]
	path = vnt-ili9342c-mpy
	url = git@github.com:tsenso/vnt-ili9342c-mpy.git
